body, html {
    height: 100%;
    margin: 0;
  }
  
  .pic1 {
    background-image: url("https://paniqescaperoom.com/img/paniq/bg-blue-2.webp");
    height: 100%; 
    background-position: center;
    background-repeat: no-repeat;
    background-size: cover;
    z-index: 0;
    position: relative;
  }

  .form{
    position: absolute;
    top: 300px;
    left: 500px;
    color: #fff;
    font-family:'Franklin Gothic Medium', 'Arial Narrow', Arial, sans-serif;
  }

  .statsButton{
    border: 2px solid black;
    margin: 10px;
    font-family: 'Franklin Gothic Medium', 'Arial Narrow', Arial, sans-serif;
  }

  @media screen and (max-width: 600px) {
    .col-25, .col-75, input[type=submit] {
      width: 100%;
      margin-top: 0;
    }
}

